<a href="https://colab.research.google.com/github/alisha12548/AI/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet():
  print("hello! welcome to python")
  greet()

In [ ]:
def add(a , b):
  return a+b
result = add(10 , 6)
  print(rresult)

In [ ]:
def calculate(a ,b):
  sum = a+b
  diff = a-b
  return sum , diff
  s , d = calculate(10 , 6)
  print(sum)
  print(diff)
calculate(10 , 7)

In [ ]:
def studentinfo(name ,age , marks):
  print("Name" , name)
  print("Age" , age)
  print("marks" , marks)
  if age >= 18:
    print("status : adult")
  else:
    print("status : teenager")
  if marks >= 50:
    print("result : pass")
  else:
    print("result : fail")
studentinfo("ali" , 19 , 67)
studentinfo("ahmed" , 24 ,43)

Name ali
Age 19
marks 67
status : adult
result : pass
Name ahmed
Age 24
marks 43
status : adult
result : fail

In [ ]:
square = lambda x: x*x
print(square(6))

36

In [ ]:
check_even = lambda n: "even" if n % 2 == 0 else "odd"
print(check_even(2))
print(check_even(5))

even
odd

In [ ]:
numbers = [1 , 2 , 3 , 4 ,5]
squares = list(map(lambda x: x*3 ,numbers))
print(squares)

[3, 6, 9, 12, 15]

In [ ]:
def user_input_function():
  value = input("enter something")
  print("ypu entered", value)
user_input_function()

In [ ]:
student_info():
name = input("enter your name")
age = int(input("enter your age"))
marks = int(input("enter your marks"))
print("Name" , name)
print("age" , age)
print("Marks" , marks)
if age  >= 18:
  print("adult")
else:
  print("teenager")
if marks >= 50:
  print(pass)

else:
  print(fail)
student_info()